#set ($jsonArray = $jsonFactoryUtil.createJSONArray($jsonData))

#set ($len = $jsonArray.length() - 1)

#set ($jsonObject = $jsonFactoryUtil.createJSONObject())

#set ($mapLabels = $jsonFactoryUtil.createJSONObject())

#set ($mapValues = $jsonFactoryUtil.createJSONObject())


#*
#set ($startMonth = $portletPreferences.getValue("startMonth"))

#set ($startYear = $portletPreferences.getValue("startYear"))

#set ($period = $portletPreferences.getValue("period"))
*#

#set ($xaxis = $jsonFactoryUtil.createJSONArray())

#set ($periodMapKeys = $periodMap.keySet())

#foreach ($periodMapKey in $periodMapKeys)
    #set ($periodMapValues = $periodMap.get($periodMapKey))
    
    #foreach ($periodMapValue in $periodMapValues)
        #set ($xaxisUnit = $periodMapValue + " - " + $periodMapKey)
        #set ($xaxis = $xaxis.put($xaxisUnit))
        
    #end
#end

#set ($keys = $jsonArray.getJSONObject(0).getString("keys"))

#set ($keys = $stringUtil.split($keys))

#foreach ($offset in [0..$len]) 
    #set ($item = $jsonArray.getJSONObject($offset))
   
    #set ($schemas = $item.getJSONArray("schemas"))
    
    #set ($schemasLength = $schemas.length() - 1)
   
    #if ($schemasLength >= 0)
        #foreach ($schemaCount in [0..$schemasLength])
            #set ($schema = $schemas.getJSONObject($schemaCount))
          
            #set ($month = $schema.getString("month"))
            
            #set ($year = $schema.getString("year"))
          
            #set ($fields = $schema.getJSONArray("fields"))
            
            #set ($fieldsLength = $fields.length() - 1)
           
            #if ($fieldsLength >= 0)
                 
                 #foreach ($fieldCount in [0..$fieldsLength])
                    #set ($field = $fields.getJSONObject($fieldCount))
                    #set ($label = $field.getString("label"))
                    #set ($value = $field.getInt("value"))
                    #set ($key = $field.getString("key"))
                    #set ($mapLabels =  $mapLabels.put($key, $label))
                    #set ($keyTemp = $month + " - " + $year + "_" + $key)
                    #if ($mapValues.has($keyTemp))
                        #set ($curValue = $mapValues.getInt($keyTemp))
                        #set ($tempValue = $curValue + $value)
                        #set ($mapValues = $mapValues.put($keyTemp, $tempValue))
                    #else
                        #set ($mapValues = $mapValues.put($keyTemp, $value))
                    #end
                 #end
                 
            #end
        #end
    #end
#end


#set ($bgColors = {})  
  
#set ($bgColors = $bgColors.put("k1", "#145bce"))  
#set ($bgColors = $bgColors.put("k2", "#ce5113"))
#set ($bgColors = $bgColors.put("k3", "#088A08")) 



#set ($keyLength = $keys.size() - 1)
#if($keyLength >= 0)
    #set ($datasets = $jsonFactoryUtil.createJSONArray())
    #foreach ($keyCount in [0..$keyLength])
        #set ($key = $keys.get($keyCount))
        #set ($xaxisLength = $xaxis.length() - 1)
        #set ($data = $jsonFactoryUtil.createJSONArray())
        #set ($dataset = $jsonFactoryUtil.createJSONObject())
        
        #foreach($xaxisCount in [0..$xaxisLength])
            #set ($tempKey = $xaxis.getString($xaxisCount))
            #set ($tempKey = $tempKey + "_" + $key)
            #set ($value = 0)
            #if($mapValues.has($tempKey))
                #set ($value = $mapValues.getString($tempKey))
            #end
            #set ($data = $data.put($value))
        #end
        #set ($label = $mapLabels.getString($key))
       
        #set ($dataset = $dataset.put("data", $data))
        #set ($dataset = $dataset.put("backgroundColor", $bgColors.get($key)))
        #set ($dataset = $dataset.put("label", $label))
       
        #set ($datasets = $datasets.put($dataset))
    #end
    
    #set ($chartData = $jsonFactoryUtil.createJSONObject())
    #set ($chartData = $chartData.put("labels", $xaxis))
    #set ($chartData = $chartData.put("datasets", $datasets))
    
#end
<style>
    .barchart-header {
        background-color: #3b806f;
        color: white;
        height: 35px;
        text-align: center;
        text-transform: uppercase;
        display:block; width:100%;
        line-height: 35px;
        font-weight: bold;
    }
</style>

<div style="padding-bottom: 20px">
    <div class="barchart-header">Thống kê hồ sơ từ tháng 8/2016 đến hết tháng 3/2017</div>
    <div style="padding: 5px; border: 1px solid #aaa;">
        <canvas id="barChart" width="800" height="350"></canvas>
    </div>
</div>
<script type="text/javascript">
 
    var json = JSON.parse(JSON.stringify(eval(${chartData})));
    
    var labels = json['labels'];
    var datasets = json['datasets'];
    
    var data = {
        labels: labels,
        datasets: datasets
    };
    
    var ctx = document.getElementById("barChart").getContext("2d");
   
    ctx.canvas.height = 300;
    
    var chart = new Chart(ctx, {
        type: 'bar',
        data: data,
        
        options: {
            barValueSpacing: 20,
            responsive: true,
            scales: {
    			xAxes: [{
    				
    				scaleLabel: {
    					display: true,
    					labelString: "Thống kê theo từng tháng",
    					barPercentage: 0.4
    				}
    			}],
    
    			yAxes: [{
    				type: "linear",
    				position: "left",
    				id: "y-axis-1",
    			
    				scaleLabel: {
    					display: true,
    					labelString: "Số lượng hồ sơ"
    				}
    			}]
    		},
    		animation: {
				onComplete: function () {
					var ctx = this.chart.ctx;
					ctx.textAlign = "center";
					ctx.textBaseline = "middle";
					var chart = this;
					var datasets = this.config.data.datasets;
                    
					datasets.forEach(function (dataset, i) {
					    
						ctx.font = "10px Arial";
						ctx.fillStyle = "#888";
						chart.getDatasetMeta(i).data.forEach(function (p, j) {
						    var value = parseInt(datasets[i].data[j]);
						    if(value > 0){
						        ctx.fillText(value, p._model.x, p._model.y + - 5);
						    }
						});
					});
				}
			}
            
        }
    });
  
</script>