.comboTreeWrapper .comboTreeInputWrapper input.opencps-combotree[readonly]{
	border-radius: 25px;
    padding-left: 25px;
    background: white url("../images/custom/nav_toolbar/select_arrow_gray.png") no-repeat scroll right 12px center;
    width: 89%;
    cursor: pointer;
    height:30px !important;
}

.opencps-theme.ux .opencps-form-navigator-container .des-sub-button {
    border-radius: 20px;
    margin: 5px 0px;
    padding: 5px 20px;
    width: 227px;
     height: 32px;
}

.opencps-theme.ux .fa.undo {
    background-color: #0090ff;
}
.cssRequired:after {
    content: "*";
    color: red;
}

.opencps-theme .opencps-form-navigator-container .form-navigator-content .dossier-part-title-left, .opencps-theme .opencps-form-navigator-container .form-navigator-content .dossier-part-title-right {
    display: block;
    max-width: 100%;
    width: 100%;
    line-height: normal;
    overflow: hidden;
}
.opencps-theme .opencps-form-navigator-container .form-navigator-content .bold-label {
    width: 120px;
}
.opencps-theme .opencps-form-navigator-container .form-navigator-content .dossier-part-title-right [class*="span"] {
    min-height: 25px;
}
.bold, .bold-label {
    font-family: 'Roboto-Bold';
}
.opencps-theme.ux .lfr-input-date .control-group {
    position: relative;
}
.opencps-theme.ux .control-group .field {
	height:32px;
}
.opencps-theme.ux #column-1.span3, .opencps-theme.ux #column-1.span4 {
    width: 270px;
    float: left;
}